<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.trumeet.mipush"  >

    <permission
        android:name="top.trumeet.mipush.permissions.READ_SETTINGS"
        android:label="@string/perm_read_settings"
        android:logo="@drawable/ic_notifications_black_24dp"
        android:protectionLevel="normal" />
    <permission
        android:name="top.trumeet.mipush.permissions.WRITE_SETTINGS"
        android:label="@string/perm_change_settings"
        android:logo="@drawable/ic_notifications_black_24dp"
        android:protectionLevel="signature" />
    <permission
        android:name="top.trumeet.mipush.permissions.BIND"
        android:protectionLevel="normal" />

    <!-- Allow an application to use manager api (PushServiceAPIProvider).
        protectionLevel: normal (Enabled components only) -->
    <permission android:name="moe.yutua.mipush.permissions.USE_PUSH_MANAGER_API"
        android:protectionLevel="normal" />

    <uses-permission android:name="top.trumeet.mipush.permissions.GET_VERSION" />

    <uses-permission android:name="top.trumeet.mipush.permissions.READ_SETTINGS" />
    <uses-permission android:name="top.trumeet.mipush.permissions.WRITE_SETTINGS" />
    <uses-permission android:name="top.trumeet.mipush.permissions.BIND" />

    <application android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_app"
        android:name="top.trumeet.mipushframework.MiPushFramework"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="top.trumeet.mipushframework.wizard.WelcomeActivity"
            android:theme="@style/AppTheme.Wizard"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="top.trumeet.mipushframework.wizard.CheckRunInBackgroundActivity"
            android:theme="@style/AppTheme.Wizard" />
        <activity android:name="top.trumeet.mipushframework.wizard.FinishWizardActivity"
            android:theme="@style/AppTheme.Wizard" />
        <activity android:name="top.trumeet.mipushframework.wizard.UsageStatsPermissionActivity"
            android:theme="@style/AppTheme.Wizard" />

        <activity android:name="top.trumeet.mipushframework.settings.MainActivity"
            android:label="@string/preference_title"
            android:configChanges="screenLayout|screenSize|orientation"/>

        <activity android:name="top.trumeet.mipushframework.permissions.ManagePermissionsActivity"
            android:label="@string/action_edit_permission"
            android:configChanges="screenLayout|screenSize|orientation"/>


        <activity android:name="top.trumeet.mipushframework.event.RecentActivityActivity"
            android:label="@string/recent_activity_title" />

        <activity android:name="top.trumeet.mipushframework.help.HelpActivity"
            android:label="@string/helplib_title"
            android:theme="@style/HelpTheme.DayNight" />

        <!-- Push API -->
        <provider
            android:authorities="moe.yuuta.mipush.push.api.PushServiceAPI"
            android:name="top.trumeet.mipushframework.plugin.PushServiceAPIProvider" />
    </application>
</manifest>
