<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.trumeet.mipush.provider">

    <application>
        <provider
            android:authorities="top.trumeet.mipush.providers.AppProvider"
            android:name="top.trumeet.mipush.provider.register.AppProvider"
            android:exported="true" />

        <provider
            android:authorities="top.trumeet.mipush.providers.EventProvider"
            android:name="top.trumeet.mipush.provider.event.EventProvider"
            android:exported="true" />
    </application>
</manifest>
